@charset "UTF-8";
*::after, *::before, * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  min-height: 88px;
  border-bottom: 1px solid #E0E0E0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.menu-list {
  display: flex;
}

.menu-item {
  margin-right: 30px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1F2125;
}

.toggle {
  display: none;
}

.intro {
  position: relative;
  width: 100%;
  background: url(./img/intro.jpg) no-repeat center bottom/cover;
}

.intro-inner {
  height: 600px;
}

.intro-content {
  padding-top: 112px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.intro-content::after {
  content: "";
  width: 1044px;
  height: 373px;
  position: absolute;
  left: 0;
  background: rgba(255, 255, 255, 0.48);
}
.intro-content h1 {
  position: relative;
  z-index: 1;
  width: 622px;
  font-size: 36px;
  font-weight: 600;
  line-height: 135.3%;
  margin-top: 60px;
  margin-bottom: 55px;
  color: #1F2125;
}

.btn {
  position: relative;
  z-index: 1;
  width: 245px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background-color: rgba(8, 166, 82, 0.85);
  color: #fff;
}
.btn:hover {
  background: #08a652;
}

.induvidial-option {
  width: 100%;
}

.io_inner {
  padding: 80px 0;
}

.io-content h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 135.3%;
  text-align: center;
  margin-bottom: 40px;
  color: #1F2125;
}

.io-content-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 34px;
}
.io-content-item input {
  width: 300px;
  height: 50px;
  padding: 12px 35px;
  font-size: 16px;
}

.btn.submit {
  width: auto;
  height: 51px;
}

.company {
  position: relative;
  width: 100%;
  background: url(./img/anno.png) no-repeat center bottom/cover;
}

.company-inner {
  display: flex;
  justify-content: space-between;
  height: 770px;
}

.company-content {
  margin-top: 185px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.company-content h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 30px;
  color: #1F2125;
}
.company-content p {
  width: 470px;
  margin-bottom: 20px;
}

.btn.order {
  margin-top: 20px;
}

.company-our {
  position: relative;
  width: 170px;
  height: 770px;
  background-color: rgba(8, 166, 82, 0.85);
}
.company-our h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 20px;
  line-height: 135.3%;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 75px;
  color: #fff;
}

.catalog-boxes {
  width: 100%;
}

.cb-inner {
  padding: 80px 0;
}

.cb-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  padding: 65px 0 45px 0;
}

.cb-box {
  cursor: pointer;
}

.cb-box-img {
  position: relative;
}
.cb-box-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.cb-box-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(98, 105, 108, 0.85);
}

.go-catalog {
  text-align: center;
}
.go-catalog a {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  color: #1F2125;
}
.go-catalog a:hover::after {
  transform: scale(1);
}
.go-catalog a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  transform: scale(0);
  transition: all 200ms ease-in-out;
  background-color: rgba(98, 105, 108, 0.85);
}

.unique-package {
  position: relative;
  width: 100%;
  background: linear-gradient(91.25deg, rgba(0, 0, 0, 0.53) 0.83%, rgba(0, 0, 0, 0.04) 98.14%), url(./img/upakovka.png) no-repeat center bottom/cover;
}

.up-inner {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 746px;
}

.up-inner-item {
  width: 670px;
}
.up-inner-item h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 36px;
  color: #fff;
}
.up-inner-item p {
  width: 580px;
  font-size: 18px;
  font-weight: 400;
  line-height: 147.3%;
  margin-bottom: 50px;
  color: #fff;
}

.btn.pick {
  width: 261px;
  font-size: 16px;
  font-weight: 500;
}

.Why-are-we {
  width: 100%;
}

.waw-inner {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.waw-inner-item {
  width: 470px;
}
.waw-inner-item h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 60px;
  color: #1F2125;
}

.waw-inner-block {
  display: flex;
  margin-bottom: 30px;
}
.waw-inner-block:last-child {
  margin-bottom: 0px;
}
.waw-inner-block span {
  font-size: 20px;
  font-weight: 600;
  line-height: 135.3%;
  margin-right: 20px;
  color: rgba(8, 166, 82, 0.85);
}

.waw-inner-block-content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 20px;
  color: #1F2125;
}
.waw-inner-block-content p {
  width: 430px;
  font-size: 18px;
  font-weight: 400;
  line-height: 147.3%;
  color: rgba(98, 105, 108, 0.85);
}

.waw-inner-img {
  width: 570px;
}
.waw-inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.questions-answers {
  width: 100%;
}

.qa-inner {
  padding: 60px 0;
}
.qa-inner h2 {
  margin-bottom: 60px;
}

.questions {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-bottom: 35px;
  cursor: pointer;
}
.questions:last-child {
  margin-bottom: 0px;
}
.questions .fas {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 14px;
}

.questions-header {
  display: flex;
}
.questions-header h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 18px;
  color: #1F2125;
}

.answers {
  display: none;
}
.answers p {
  width: 870px;
  font-size: 18px;
  font-weight: 400;
  line-height: 147.3%;
  color: rgba(98, 105, 108, 0.85);
}

.location-contact {
  width: 100%;
}

.lc-inner {
  padding: 60px 0;
}
.lc-inner h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 40px;
  color: #1F2125;
}

.location {
  display: flex;
}

.location-img {
  margin-right: 30px;
}

.contacts {
  margin-top: 30px;
}
.contacts h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 5px;
  color: #1F2125;
}
.contacts p {
  font-size: 18px;
  font-weight: 400;
  line-height: 147.3%;
  color: #1F2125;
}
.contacts a {
  font-size: 18px;
  font-weight: 400;
  line-height: 147.3%;
  margin-right: 15px;
  color: #1F2125;
}
.contacts a:hover {
  text-decoration: underline;
}

.c-address {
  margin-bottom: 20px;
}

.c-email {
  margin-bottom: 20px;
}

.c-number {
  display: flex;
}
.c-number p {
  margin-left: 10px;
}

.footer {
  width: 100%;
  background-color: #E0E0E0;
}

.footer-inner {
  padding: 45px 0 0 0;
}

.footer-info {
  display: grid;
  grid-template-columns: 200px 200px 200px auto;
  column-gap: 42px;
  align-items: center;
}
.footer-info .logo {
  text-align: end;
}

.footer-info-block {
  display: flex;
  flex-direction: column;
}
.footer-info-block h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 135.3%;
  margin-bottom: 35px;
  color: #1F2125;
}
.footer-info-block li {
  margin-bottom: 10px;
}
.footer-info-block li:last-child {
  margin-bottom: 0px;
}
.footer-info-block a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1F2125;
}
.footer-info-block a:hover {
  text-decoration: underline;
}

.footer-end {
  width: 100%;
  height: 85px;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conditions-politics a {
  font-size: 16px;
  font-weight: 400;
  line-height: 147.3%;
  margin-left: 50px;
  color: #1F2125;
}
.conditions-politics a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .intro-inner {
    position: relative;
  }

  .intro-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    padding: 10% 20%;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.48);
    flex-wrap: wrap;
    flex-direction: unset;
    align-content: space-between;
  }
  .intro-content::after {
    display: none;
  }
  .intro-content h1 {
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .intro-content .btn {
    margin: 0 auto;
  }

  .io-content-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .io-content-item input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .io-content-item .btn {
    width: 260px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .intro-content {
    width: 100%;
  }
  .intro-content::after {
    width: 80%;
  }

  .io-content-item input {
    margin: 0 auto 30px auto;
  }
  .io-content-item .btn {
    width: 300px;
    margin: 0 auto;
  }

  .cb-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .waw-inner {
    flex-wrap: wrap;
  }

  .waw-inner-block {
    position: relative;
    text-align: center;
  }
  .waw-inner-block span {
    position: absolute;
  }

  .waw-inner-block-content p {
    width: auto;
  }

  .waw-inner-item {
    width: auto;
    order: 2;
  }

  .waw-inner-img {
    margin: 0 auto 70px auto;
    order: 1;
  }

  .io-content-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .location {
    flex-direction: column;
    text-align: center;
  }

  .location-img {
    margin-right: 0;
  }
  .location-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .c-email {
    display: flex;
    flex-direction: column;
  }

  .c-number {
    flex-direction: column;
  }

  .footer-info {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-info .logo {
    display: none;
  }

  .footer-end {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .header-menu {
    position: relative;
    flex-direction: column;
    align-items: start;
  }

  .menu-bar {
    width: 100%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }

  .menu-bar.active {
    max-height: 15rem;
    opacity: 1;
    visibility: visible;
    margin-top: 40px;
    background-color: #fff;
  }

  .menu-list {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  .menu-list li {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .toggle {
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    cursor: pointer;
  }
  .toggle::after {
    font-size: 30px;
    display: block;
    content: "ïƒ‰";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }

  .intro-inner {
    position: relative;
  }

  .intro-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    padding: 10% 20%;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.48);
    flex-wrap: wrap;
    flex-direction: unset;
    align-content: space-between;
  }
  .intro-content::after {
    display: none;
  }
  .intro-content h1 {
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .intro-content .btn {
    margin: 0 auto;
  }

  .io-content-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .io-content-item input {
    width: 100%;
    margin-bottom: 15px;
  }

  .company-inner {
    position: relative;
    text-align: center;
  }

  .company-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    margin-top: 0;
    padding: 10% 10%;
    flex-wrap: wrap;
    flex-direction: unset;
    align-content: space-between;
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(16px);
  }
  .company-content h2 {
    margin: 0 auto;
  }
  .company-content p {
    width: auto;
  }
  .company-content a {
    margin: 0 auto;
  }

  .company-our {
    display: none;
  }

  .cb-inner h2 {
    text-align: center;
  }

  .cb-boxes {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  .cb-box {
    padding: 0 45px;
  }

  .up-inner {
    position: relative;
    text-align: center;
  }

  .up-inner-item {
    width: 100%;
    height: 70%;
    padding: 10% 10%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    align-content: space-between;
    background: rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(16px);
  }
  .up-inner-item h1 {
    color: #1F2125;
    margin: 0;
  }
  .up-inner-item p {
    color: #1F2125;
    width: auto;
    margin: 0;
  }
  .up-inner-item .btn {
    margin: 0 auto;
  }

  .waw-inner {
    flex-wrap: wrap;
  }

  .waw-inner-block {
    position: relative;
    text-align: center;
  }
  .waw-inner-block span {
    position: absolute;
  }

  .waw-inner-block-content p {
    width: auto;
  }

  .waw-inner-item {
    width: auto;
    order: 2;
  }

  .waw-inner-img {
    margin-bottom: 70px;
    order: 1;
  }

  .qa-inner h2 {
    text-align: center;
  }

  .lc-inner h2 {
    text-align: center;
  }

  .location {
    flex-direction: column;
    text-align: center;
  }

  .location-img {
    margin-right: 0;
  }
  .location-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .c-email {
    display: flex;
    flex-direction: column;
  }

  .c-number {
    flex-direction: column;
  }

  .footer-inner {
    display: none;
  }

  .footer-end {
    height: 100%;
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
  }
  .footer-end strong {
    margin-bottom: 15px;
  }

  .conditions-politics {
    display: flex;
    flex-direction: column;
  }
  .conditions-politics a {
    margin: 0;
    margin-bottom: 15px;
  }
  .conditions-politics a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .intro-content {
    padding: 0;
    align-content: space-around;
  }
  .intro-content h1 {
    margin: 0;
  }

  .io-content h2 {
    font-size: 24px;
  }

  .up-inner-item {
    padding: 5%;
    align-content: space-around;
  }
  .up-inner-item h1 {
    font-size: 24px;
  }
}
@media (min-width: 991px) {
  .intro-content {
    width: 100%;
  }
  .intro-content::after {
    width: 70%;
  }

  .io-content-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .io-content-item .btn {
    margin-top: 30px;
    position: relative;
    left: 111%;
  }
}