// Переменные

$ffs: 'SF Pro Display' sans-serif;
$ffi: 'Inter', sans-serif;

// Шрифты
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz28: 28px;
$fz36: 36px;

// /Шрифты
// Масса
$fw400: 400;
$fw500: 500;
$fw600: 600;
// /Масса

// цвета
$bl: #1F2125; // Black
$wh: #fff; // White
$bg: #62696C; // Black Gray

$bgwhite:rgba(255, 255, 255, 0.48);
$bgwhite:rgba(255, 255, 255, 0.48);
$bggreen: rgba(8, 166, 82, 0.85);
$bggray: rgba(98, 105, 108, 0.85);
// /цвета

// флексбоксы
$flex: flex;
$center: center;
$spb: space-between;
$start: start;
$block: block;
$none: none;
$wrap: wrap;
$fdC: column;
$fdR: reverse;
// /флексбоксы
// Гриды
$grid: grid;
$gCol1: repeat(1, 1fr);
$gCol2: repeat(2, 1fr);
$gCol3: repeat(3, 1fr);
$gCol4: repeat(4, 1fr);
$g34: 34px;
// /Гриды

// /Переменные